* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  background: #fafafa;
  color: #312e38;
  -webkit-font-smoothing: antialiased;
}
body, input, button {
  font: 16px 'Roboto Slab', serif;
}
h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500;
}
button {
  all: unset;
  cursor: pointer;
  background-color: #333;
  color: #fafafa;
  padding: 8px 16px;
  margin: 8px 0;
  width: 90px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
button.checkout {
  background-color: #598f61;
}
#app > div {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 5rem;
}
